name: CI Pipeline

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

permissions:
  contents: read
  packages: write

jobs:
  # ---------------- Linting ----------------
  lint:
    name: Lint with ruff
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ruff Check
        uses: astral-sh/ruff-action@v2
        with:
            src: "src tests"
            args: "check"

  # ---------------- Tests ----------------
  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies from pyproject.toml
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install ".[dev]"

      - name: Run pytest
        run: pytest --maxfail=1 --disable-warnings -v


  # ---------------- Docker Build ----------------
  docker_build:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    needs: [lint, test]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t ghcr.io/${{ github.repository }}:latest \
            .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
 
